.advantages {
  margin: 62px 0;
  &__inner {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
.advantages-item {
  display: flex;
  align-items: center;
  &__icon {
    margin-right: 30px;
    width: 36px;
    height: 36px;
  }
  &__text {
    font-size: 18px;
  }
}
