// Hero slick slider
.hero-slider {
  position: relative;
  &__list {
    position: relative;
  }

  // Arrows
  &__arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-21px);
    width: 23px;
    height: 42px;
    background-size: cover;
    z-index: 1;
    cursor: pointer;
  }

  &__arrow-left {
    left: 50px;
    background-image: url("/images/hero-arrow-left.svg");
  }

  &__arrow-right {
    right: 50px;
    background-image: url("/images/hero-arrow-right.svg");
  }

  // Dots
  &__dots {
    position: absolute;
    bottom: 50px;
    left: 123px;

    & ul {
      display: flex;
    }

    & li > button {
      width: 12px;
      height: 12px;
      border: 2px solid $grey;
      border-radius: 50%;

      &::before {
        display: none;
      }

      &:hover {
        background: none;
        border-color: $black;
      }
    }

    .slick-active > button {
      background-color: $black;
      border: 2px solid $black;
    }
  }
}

// Slider item
.hero-slider-item {
  position: relative;
  width: 100%;
  height: 260px;
  @media (min-width: $tablet) {
    height: 400px;
  }
  @media (min-width: $desktop) {
    height: 500px;
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  // Content
  &__content {
    position: relative;
    padding-top: 100px;
    padding-left: 73px;
  }

  &__title {
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 10px;
  }

  &__subtitle {
    font-size: 18px;
    line-height: 21px;
  }

  &__discount {
    color: $brown;
    line-height: 21px;
    margin-bottom: 50px;
  }

  &__btn {
    padding: 14px 40px;
  }
}
