*,
*::before,
*::after {
  box-sizing: border-box;
}
a {
  font-size: inherit;
  color: inherit;
  text-decoration: none;
}
form,
input {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
}
b {
  font-weight: inherit;
}
p {
  margin: 0;
  padding: 0;
}
ul,
ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: inherit;
}
button {
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
}
body {
  font-family: "Raleway", sans-serif;
  color: $black;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.05em;
}
.app {
  padding-top: 80px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container {
  margin: 0 auto;
  max-width: 100%;
  padding: 0 20px;
}
@media (min-width: 1440px) {
  .container {
    max-width: calc(1440px + 100px);
    padding: 0 50px;
  }
}
// Buttons
.app-btn {
  border: 2px solid $black;
  transition: all 0.3s ease;
  font-weight: 600;
  &:hover {
    background-color: $black;
    color: $white;
    transition: all 0.3s ease;
  }
}

// App section
.app-section {
  margin-top: 100px;
  &__title {
    font-size: 24px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    margin-bottom: 50px;
    text-align: center;
  }
}
